<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Daseraf\Debug\Interception\Code\Generator\Interceptor" type="Daseraf\DebugCreatuity\Interception\Code\Generator\Interceptor"/>
    <preference for="Daseraf\Debug\Interception\Code\Generator\SetupInterceptor" type="Daseraf\DebugCreatuity\Interception\Code\Generator\SetupInterceptor" />
</config>
